@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_CommonView</title>
</head>
<body>
    <div>
        <h1>M.Kumarasamy College of Technology</h1>
        <h1>Karur Main Road</h1>
        <h2>Karur</h2>
        <h3>TamilNadu</h3>
    </div>
</body>
</html>
