@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>@Html.Partial("_CommonView")</div>
    <div>
        <h1>Home is the Default Controller</h1>
        <h1>No need to type Controller name in URL</h1>
    </div>
</body>
</html>
